:host {
  margin: auto;
  width: 300px;
  display: block;
}

@keyframes wiggle {

  0% {
    transform: translate(790px,-110px);
  }

  10% {
    transform: translate(770px,-115px);
  }

  20% {
    transform: translate(745px,-112px);
  }

  30% {
    transform: translate(824px,-118px);
  }

  40% {
    transform: translate(770px,-100px);
  }

  50% {
    transform: translate(790px,-157px);
  }

  60% {
    transform: translate(770px,-137px);
  }

  70% {
    transform: translate(810px,-127px);
  }

  80% {
    transform: translate(790px,-147px);
  }

  90% {
    transform: translate(720px,-127px);
  }

  100% {
    transform: translate(790px,-110px);
  }

}


@keyframes wiggletwo {

  0% {
    transform: translate(-7px,-150px);
  }

  10% {
    transform: translate(0,-120px);
  }

  20% {
    transform: translate(5px,-130px);
  }

  30% {
    transform: translate(-5px,-150px);
  }

  40% {
    transform: translate(0,-110px);
  }

  50% {
    transform: translate(35px,-100px);
  }

  60% {
    transform: translate(-7px,-150px);
  }

  70% {
    transform: translate(10px,-120px);
  }

  80% {
    transform: translate(30px,-140px);
  }

  90% {
    transform: translate(5px,-110px);
  }

  100% {
    transform: translate(-7px,-150px);
  }

}

@keyframes hideshow {
  0% {
    transform: translate(-10px,-80px);
  }

  30% {
    transform: translate(660px,92px);
  }

  50% {
    transform: translate(740px,-60px);
  }

  80% {
    transform: translate(130px,92px)
  }

  100% {
    transform: translate(20px,-50px);
  }

}

@keyframes pingPong {
  0% {
    transform: translate(20px, 20px);
  }

  50% {
    transform: translate(20px, -130px);
  }

  100% {
    transform: translate(20px, 20px);
  }
}

@keyframes pingPongPaddle {
  0% {
    transform: rotate(25deg) translate(23px, -100px);
  }

  20% {
    transform: rotate(20deg) translate(23px, -100px);
  }

  80% {
    transform: rotate(20deg) translate(23px, -100px);
  }

  100% {
    transform: rotate(25deg) translate(23px, -100px);
  }
}

@keyframes idleBall {
  0% {
    transform: translate(30px, 92px);
  }

  50% {
    transform: translate(50px, 92px);
  }

  100% {
    transform: translate(30px, 92px);
  }

}

.playing {

  $gameSpeed: 2.8s;

  .ball {
    animation: hideshow $gameSpeed linear infinite;
  }

  .right_paddle {
    animation: wiggle $gameSpeed linear infinite;
  }

  .left_paddle {
    animation : wiggletwo $gameSpeed linear infinite;
  }
}

.idle {

  .ball {
    animation: idleBall 2s linear infinite;
  }

  .right_paddle, .left_paddle {
    display: none;
  }

}

.loading {

  $pingSpeed: 1s;

  .ball {
    animation: pingPong $pingSpeed linear infinite;
  }

  .right_paddle {
    display: none;
  }

  .left_paddle {
    animation: pingPongPaddle $pingSpeed linear infinite;
  }
}

svg .ball {
  fill: #fff;
}

.ball_idle {
  display: none;
}

svg {
  transform: translateY(-45px);
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.ping-pong-table {
  transform: translate(20px, 225px);

  path {
    transform: translateY(22px);
  }
}

@media (max-width: 1024px) {
  :host {
    margin-top: 45px;
  }
}

@media (max-width: 520px) {
  :host {
    width: 250px;
  }
}

@media (max-width: 400px) {
  :host {
    width: 200px;
  }
}
