{
  "check-coverage": true,
  "all": true,
  "per-file": false,
  "lines": 50,
  "statements": 50,
  "functions": 30,
  "branches": 25,
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "include": [
    "src"
  ],
  "exclude": [
    "src/**/*.spec.ts"
  ],
  "reporter": [
    "lcov",
    "json",
    "text-summary"
  ]
}
